{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'Login_App/homepage.css' %}">
    <title>My Home page html</title>
  </head>
  <body>
    <h1>Welcome to shopping.com</h1>
    <h2>Hello candidate</h2>  
    <div>
        <img src = "{% static 'Login_App/image01.png' %}"  alt="My image" class="center">
    </div>
  </body>
</html>
